.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topSection > h3 {
  margin-right: 10px;
}

.error {
  color: red;
}

.activeButton {
  background-color: lightskyblue;
}

.completedTask {
  opacity: 0.5;
}

.editModeTodoTitleInput {
  width: 120px;
  height: 20px;
  margin: 18px 10px;
  padding: 0px 5px;
  border: 1px solid violet;
  outline: none;
}

.editModeTaskTitleInput {
  width: 90px;
  height: 20px;
  padding: 0px 5px;
  border: 1px solid violet;
  outline: none;
}
